@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
:root {
    --red: #ED6454;
    --blue: #3282F7;
    --green: #68D9A4;
    --dark-gray: #C7BeBe;
    --light-gray: #E7E7E7;
    --font-color: #000000;

	--dropdowns-animation-duration: .3s;
}
#app {
    padding: 50px 100px;
    position: relative;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.search-tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin: 20px 0;
}
.search-tab > input {
    border: none;
    height: 100%;
    width: 100%;
    background-color: var(--light-gray);
    color: var(--font-color);
    border-radius: 8px;
    padding: 0 20px;
    font-size: 1.1rem;
}
.search-tab > input::placeholder {
    color: var(--dark-gray)
}
.search-tab > input:focus {
    outline: none;
}
.search-tab > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
}
.filters {
    gap: 0.5rem;
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-wrap: nowrap;
}
.filters .tag {
    position: relative;
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 0.5rem;
    padding: 5px 10px;
    border-radius: 5px;
    line-height: 0;
}
.filters .tag span::first-letter {
    text-transform: uppercase;
}
.filters .tag .icon {
    cursor: pointer;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
.filters .tag.red {
    background-color: var(--red);
}
.filters .tag.green {
    background-color: var(--green);
}
.filters .tag.blue {
    background-color: var(--blue);
}
.dropdown-list {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 15px 0;
}
.dropdown-list .item {
    width: 170px;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    transition: width var(--dropdowns-animation-duration) ease-in-out var(--dropdowns-animation-duration);
}
.dropdown-list .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 70px;
    width: 170px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--dark-gray);
    color: #fff;
    --innerBG: var(--dark-gray);
    transition: width var(--dropdowns-animation-duration) ease-in-out var(--dropdowns-animation-duration), max-height var(--dropdowns-animation-duration) ease ;
}
.dropdown-list .dropdown.red {
    background-color: var(--red);
    --innerBG: var(--red);
}
.dropdown-list .dropdown.green {
    background-color: var(--green);
    --innerBG: var(--green);
}
.dropdown-list .dropdown.blue {
    background-color: var(--blue);
    --innerBG: var(--blue);
}
.dropdown-list .dropdown .top {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 70px;
}
.dropdown-list .dropdown .top > input {
    border: none;
    height: 70px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 0 15px;
    font-size: 1.1rem;
}
.dropdown-list .dropdown .top > input::placeholder {
    color: #fff
}
.dropdown-list .dropdown .top > .icon {
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	transition: transform var(--dropdowns-animation-duration) ease-in-out 
}
.dropdown-list .dropdown .inner {
    padding: 10px 25px;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, calc((100% - 25px) / 3));
    gap: 5px;
    width: 100%;
    overflow: hidden;
    background-color: var(--innerBG);
    font-size: 1rem;
    overflow-y: auto;
    max-height: calc((8 * 29px) + (4 * 5px));
}
.dropdown-list .dropdown .inner::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
	height: 10px;
}
.dropdown-list .dropdown .inner::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.281);
	border-radius: 10px;
}
.dropdown-list .dropdown .inner::-webkit-scrollbar-track {
	background-color: hsla(0, 0%, 0%, 0.094);
	border-radius: 10px;
	margin: 15px;
}
.dropdown-list .dropdown .inner span {
    padding: 5px 8px;
    border-radius: 5px;
	cursor: pointer;
}
.dropdown-list .dropdown .inner span::first-letter {
    text-transform: uppercase;
}
.dropdown-list .dropdown .inner span:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.dropdown-list .item:hover {
    width: 667px;
    transition: width var(--dropdowns-animation-duration) ease-in-out;
}
.dropdown-list .dropdown:hover {
    width: 667px;
    max-height: 350px;
    transition: width var(--dropdowns-animation-duration) ease-in-out, max-height var(--dropdowns-animation-duration) ease var(--dropdowns-animation-duration);
}
.dropdown-list .dropdown:hover .top > .icon {
	transform: rotateZ(180deg);
	transition: transform var(--dropdowns-animation-duration) ease-in-out var(--dropdowns-animation-duration)
}

.recipes-wrapper {
    margin: 25px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 50px;
    justify-content: center;
}
.recipe {
    display: flex;
    flex-direction: column;
    min-width: 380px;
    width: 100%;
    height: 364px;
    border-radius: 5px;
    overflow: hidden;
}
.recipe .image {
    height: 178px;
    background-color: #c7bebe;
}
.recipe .content {
    display: grid;
    grid-template-columns: 50% calc(50% - 120px) 100px;
    grid-template-rows: 55px calc(100% - 55px);
    background-color: #e7e7e7;
    padding: 0 15px;
    gap: 10px;
    height: calc(100% - 178px);
}
.recipe .content .name {
    display: flex;
    align-items: center;
    font-weight: bold;
    grid-column: 1/3;
}
.recipe .content .duration {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    gap: 10px;
    grid-column: 3;
}
.recipe .content .duration * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipe .content .ingredients {
    grid-column: 1/2;
}
.recipe .content .ingredients ul {
    list-style: none;
    font-size: 0.75rem;
    font-weight: bold;
    overflow: hidden;
    height: calc(8 * 0.75rem);
}
.recipe .content .ingredients ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 175px;
}
.recipe .content .ingredients ul span {
    font-weight: normal;
}
.recipe .content .description {
    font-size: 0.75rem;
    width: 100%;
    height: calc(8 * 0.7rem);
    overflow: hidden;
    grid-column: 2/4;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 1239px) {
    .dropdown-list {
        flex-direction: column;
    }
    .dropdown-list .item {
        width: 100%;
        height: inherit;
    }
    .dropdown-list .item:hover {
        width: 100%
    }
    .dropdown-list .item .dropdown {
        position: relative;
        width: 100%;
    }
    .dropdown-list .item .dropdown:hover {
        transition: max-height .5s;
    }
}